/* Estilos para telas maiores que 1080px */
@media screen and (min-width: 1080px) {
  .mobile-menu {
    display: none; /* Oculta o menu de hambúrguer por padrão em telas maiores */
  }
  nav ul {
    display: flex; /* Exibe o menu principal como uma lista horizontal em telas maiores */
  }
}

/* Estilos para telas menores que 1080px */
@media screen and (max-width: 1079px) {
  .mobile-menu {
    display: block; /* Exibe o menu de hambúrguer em telas menores */
  }
  nav ul {
    display: none; /* Oculta o menu principal em telas menores */
  }
}

/* Estilos adicionais para telas maiores que 1080px para ocultar o menu de hambúrguer */
@media screen and (min-width: 1080px) {
  .menu-toggle {
    display: none; /* Oculta o botão do menu de hambúrguer em telas maiores */
  }
}

/*HEADER INICIO*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("/Imagens/img_fundo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
p {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}
header {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Coloca os elementos nas extremidades */
  align-items: center;
  padding: 0 20px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Para alinhar os itens horizontalmente */
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*HEADER FIM*/

/*BODY INICIO*/
.banner {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.banner img {
  width: 100%;
  height: auto;
}
.fundo-translucido {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  color: #000;
}

.explicacao {
  display: none;
  background-color: #f1f1f1;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: justify;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.mostrar-explicacao {
  display: block;
  text-align: auto;
  margin-top: 0 auto;
  text-align: justify;
  font-family: Arial, sans-serif;
}
.mostrar-explicacao button {
  background-color: #0077b5;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.mostrar-explicacao button:hover {
  background-color: #005f91;
}
/*BODY FIM*/

/* Estilos específicos para o rodapé */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 150px;
  text-align: center;
}
.social-icons {
  display: flex;
}
.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}
.social-icon:hover {
  background-color: #005f91;
}

@media screen and (max-width: 1080px) {
  p {
    font-size: 16px; /* Tamanho de fonte menor para telas menores */
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 16px; /* Tamanho de fonte menor para telas menores */
  }
}
@media screen and (max-width: 480px) {
  p {
    font-size: 16px; /* Tamanho de fonte menor para telas menores */
  }
}
